.navbar{
    .logo{
        width: 5rem; 
        margin: 1rem; 
        margin-top: 0rem;
        margin-left: 5vw;
    }
    .navbar-collapse{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    i{
                        font-size: x-large;
                    }
                }
            }
        }
    }
    .right-section{
        margin-right: 5vw;
    }
}
